@model SubjectIndexVm

@{
    ViewData["Title"] = "Subjects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .list-galery-zoom {
        transition: transform .2s;
        align-content: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

        .list-galery-zoom:hover {
            /* transform: scale(1.01);*/
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
        }
</style>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
        <h1 class="text-center">My Courses</h1>
        <form asp-action="details">
            <div class="form-group">
                <label class="control-label"> <strong>Select courses to show:</strong></label>
                <select class="form-control"
                        onchange="selectSubjectSlot()" id="subjectSlot"
                        asp-for="SubjectSlot"
                        asp-items="Model.SubjectSlots"></select>
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>

@if (this.User.IsInRole(AdminRole))
{
    <hr />
    <div class="text-center">
        <a class="btn btn-primary" asp-action="Create">Add new subject</a>
    </div>
    <hr />
}



<div class="container">
    <div class="row justify-content-center" style="margin:auto">
        @foreach (var item in Model.Subjects)
        {
            <div class="card bg-light mb-3 list-galery-zoom  mb-5 rounded" style="width: 14.1rem; margin-top:5px;margin-right:10px; margin-right:10px; margin-bottom:30px">
                <a style="text-decoration: none" asp-action="Details" asp-route-id="@item.Id">
                    <div style="margin:5px; padding:3px;" class="card-body text-center">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    </div>
                </a>
            </div>
        }
    </div>
</div>


<script type="text/javascript">

    function selectSubjectSlot() {

        var subjectSlot = $('#subjectSlot').val()
        console.log(subjectSlot)
        $.ajax({
            type: 'GET',
            url: "/subjects/index",
            data: { "slot": subjectSlot },
            success: function (result) {
                $("body").html(result);
            }
        });
    };

</script>