@model PaginatedUserIndexVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h1>Students</h1>

    @if (this.User.IsInRole(AdminRole))
    {
        <hr />
        <a class="btn btn-primary" asp-controller="Identity" asp-action="Register">Add new User</a>
        <hr />
    }

</div>
<input asp-for="Name" id="filter-teachers-students" placeholder="type student number or student name" type="text" class="form-control" />
@await Html.PartialAsync("_UsersPartial", Model.Users)